{% extends 'base.html' %}

{% block content %}
<section class="hero">
    <div class="hero-content">
        <h1>Welcome to Nielsen Analytics</h1>
        <p>Your Trusted Partner in Data Analytics</p>
        <a href="/about" class="btn">Learn More</a>
    </div>
</section>

<section class="services">
    <div class="service">
        <img src="{{ url_for('static', filename='ocean.png') }}" alt="Data Analysis">
        <h2>Data Analysis</h2>
        <p>We offer advanced data analysis services to help you gain valuable insights from your data.</p>
    </div>
    <div class="service">
        <img src="{{ url_for('static', filename='flowers.png') }}" alt="Data Visualization">
        <h2>Data Visualization</h2>
        <p>We create stunning visualizations that make complex data easy to understand and interpret.</p>
    </div>
    <div class="service">
        <img src="{{ url_for('static', filename='beach.png') }}" alt="Predictive Modeling">
        <h2>Predictive Modeling</h2>
        <p>Our experts build predictive models to forecast trends, optimize processes, and make data-driven decisions.</p>
    </div>
</section>
<style>
    body, h1, h2, p, img {
    margin: 0;
    padding: 0;
}
    body {
    background-color: #9bddd8;
    font-family: Arial, sans-serif;
}

/* Hero section */
.hero {
    background-image: url("static/cool.png");
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    text-align: center;
    color: #fff;
}
.hero-content h1 {
    font-size: 100px;

    margin-bottom: 20px;
}

.hero-content p {
    font-size: 30px;
    margin-bottom: 30px;
}

.hero-content .btn {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 12px 20px;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.hero-content .btn:hover {
    background-color: #0056b3;
}

/* Services section */
.services {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.service {
    width: 300px;
    background-color: #fff;
    padding: 30px;
    margin: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.service img {
    width: 300px;
    margin-bottom: 20px;
}

.service h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.service p {
    font-size: 16px;
    color: #777;
}
</style>
{% endblock %}